.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.title {
  line-height: var(--line-height-h1);
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: var(--color-gray-9);
}

.subTitle {
  line-height: var(--line-height-h3);
  font-size: var(--font-size-h3);
  color: var(--color-gray-9);
}
