.header {
  display: flex;
  background-color: var(--color-gray-0);
  border-bottom: 1px solid var(--color-gray-4);
  height: 3em;
  line-height: 3em;
  padding: 0 0 0 1.5em;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  color: var(--color-gray-7);
  font-size: .8em;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: .25em;
}

.headerLink {
  border-left: 1px solid var(--color-gray-4);
  flex: 1 1;
  height: inherit;
  line-height: inherit;
  margin-left: 1.5em;
  overflow: hidden;
  padding-left: 1.5em;
}

.headerLink ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.headerLink ul li a {
  color: inherit;
  border-bottom: 0;
  text-decoration: auto;
  font-size: .7em;
  letter-spacing: .25em;
  text-transform: uppercase;
}

.headerLink ul li a:hover {
  color: var(--color-gray-9)
}