.headerTitle a {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 800;
  font-size: .7em;
  text-transform: uppercase;
}

.headerLink {
  border-left: 1px solid var(--color-gray-4);
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .25em;
  text-transform: uppercase;
  margin-left: 1em;
  padding-left: 1em;
}

.headerLink a {
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .25em;
  text-transform: uppercase;
  line-height: .8em;
}


.smallSize  {
  margin-left: .5em;
  font-size: .7em;
}

.headerLink .active {
  font-weight: 600;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.navListText {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  font-size: .7em;
  letter-spacing: .25em;
  line-height: 1.65;
  text-transform: uppercase;
}

.themeIcon {
  display: flex;
  justify-content: end;
}